@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);

@font-face {
	font-family: CalSans;
	font-display: swap;
	src: url("../fonts/CalSans-SemiBold.woff2") format("woff2"), url("../fonts/CalSans-SemiBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    min-width: 320px;
}

body{
    line-height: 1;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    color: #666666;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
/* ---------------------------------------- */
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
/* ------------------------------------------- */

.title{
	font-family: CalSans;
	color: #121212;
	text-align: center;
	font-size: 44px;
	line-height: 1.2;
}
.title span{
	color: #FF6428;
}
@media (max-width: 767.98px){
	.title {
		font-size: 38px;
	}
}
/* ---------------------------------------- */

[class*="__container"] {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0px 15px;
}

/* ---------------------------------------- */
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}
.header__container {
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
	gap: 131px;
	align-items: center;
	min-height: 152px;
}
.menu {
	padding: 10px 15px 10px 0px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.8);
}
.menu__list {
	display: flex;
	column-gap: 56px;
	row-gap: 10px;
	flex-wrap: wrap;
}
.menu__link {
	color: rgba(18, 18, 18, 0.4);
	font-weight: 500;
}
.menu__link:hover {
	text-decoration: underline;
}
@media (max-width: 1092px) {
	.header__container {
		gap: 50px;
		min-height: 100px;
	}

	.menu__list {
		column-gap: 40px;
	}
}
@media (max-width: 767.98px) {
	.header__container {
		min-height: 65px;
	}
}
@media (max-width:479.98px) {
	.header__container {
		gap: 15px;
	}

	.menu {
		padding: 0;
	}
	.menu__list {
		column-gap: 20px;
	}

	.header__logo {
		width: 28px;
		flex: 0 0 28px;
		overflow: hidden;
	}
}
/* ---------------------------------------- */

.page {
	flex: 1 1 50%;
}
/* ------------------------------------------- */
.main {
	padding-bottom: 80px;
}
@media (max-width: 991.98px){
	.main {
        padding-bottom: 50px;
    }
}
@media (max-width: 767.98px) {
	.main {
		padding-bottom: 30px;
	}
}

.main__container {
	display: flex;
}

.main__content {
	flex: 0 1 50%;
	align-self: flex-end;
	padding-top: 120px;
	padding-bottom: 60px;
	padding-right: 20px;
}

.main__title {
	font-family: CalSans;
	color: #121212;
	font-size: 56px;
	line-height: 1.2;
}

.main__title span {
	color: #FF6428;
}

.main__title:not(:last-child) {
	margin-bottom: 16px;
}

.main__text {
	line-height: 24px;
	font-weight: 500;
	max-width: 420px;
}

.main__text:not(:last-child) {
	margin-bottom: 31px;
}

.actions-main {
	display: flex;
	align-items: center;
}

.actions-main__button {
	text-align: center;
	padding: 18.5px 48px;
	background-color: #FF6428;
	border-radius: 40px;
	color: #fff;
	font-weight: 600;
	line-height: 28px;
	transition: all 0.3s ease 0s;
}
.actions-main__button:hover{
	background-color: #ba4619;
}

.actions-main__button:not(:last-child) {
	margin-right: 40px;
}

.actions-main__icon:not(:last-child) {
	margin-right: 27px;
}

.main__decor {
	flex: 0 1 50%;
}
.main__image {
	position: relative;
	margin-right: -135px;
	max-width: 672px;
	padding-bottom: 97.6%;
}

.main__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	border-radius: 0 0 160px 375px;
}

.main__image::after {
	content: "";
	background: url('../img/main/decor.svg') 0 0 no-repeat;
	width: 80px;
	height: 80px;
	right: 36.3%;
	bottom: 0;
	transform: translate(0, 50%);
	position: absolute;
}

@media (max-width: 1092px) {
	.main__image img {
		width: 100%;
	}

	.main__content {
		flex: 0 0 60%;
		padding-bottom: 0;
	}

	.main__decor {
		flex: 0 0 40%;
	}
}

@media (max-width: 767.98px) {
	.main__content {
		flex: 1 1 100%;
		padding-right: 0;
		padding-top: 80px;
	}

	.main__decor {
		display: none;
	}

	.main__title {
		font-size: 44px;
	}
}
@media (max-width: 479.98px) {
	.actions-main {
		flex-wrap: wrap;
		justify-content: center;
	}

	.actions-main__button {
		flex: 1 1 100%;
	}
	.actions-main__button:not(:last-child) {
		margin-right: 0px;
		margin-bottom: 15px;
	}
}
/* ---------------------------------------- */