.brands {
	padding-top:110px;
	padding-bottom: 180px;

    @media (max-width: 991.98px){
        padding-top: 50px;
		padding-bottom: 50px;
    }
    @media (max-width: 767.98px){
        padding-top: 30px;
		padding-bottom: 30px;
    }

    &__title {
        margin-bottom: 75px;

        @media (max-width: 991.98px){
            margin-bottom: 40px;
        }
        @media (max-width: 767.98px){
            margin-bottom:20px;
        }
    }
    &__items {
        max-width: 1020px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4,auto);
        align-items: center;
        justify-content: space-between;
        column-gap: 20px;
        row-gap: 80px;

        @media (max-width: 991.98px){
            row-gap: 50px;
        }
        @media (max-width:600px){
            row-gap: 20px;
		    justify-content: center;
		    grid-template-columns: repeat(2, auto);
        }

        img{
	        max-width: 100%;
        }
    }
}