.categories {
	padding-top: 90px;
	padding-bottom: 110px;

    @media (max-width: 991.98px){
        padding-top: 50px;
		padding-bottom: 50px;
    }
    @media (max-width: 767.98px){
        padding-top: 30px;
		padding-bottom: 30px;
    }

    &__title {
        margin-bottom: 80px;

        @media (max-width: 991.98px){
            margin-bottom: 50px;
        }
        @media (max-width: 767.98px){
            margin-bottom: 20px;
        }
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 70px;
        row-gap: 35px;

        @media (max-width: 1230px){
            column-gap:40px;
        }
        @media (max-width: 991.98px){
            column-gap:30px;
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 479.98px){
            column-gap: 20px;
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.item-category {
	position: relative;

    &__title {
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 30px 20px;
        color: #fff;
        font-size: 20px;
        line-height: 1.5;
        font-weight: 600;
        z-index: 3;
        width: 100%;
    }
    &__image {
        position: relative;
        overflow: hidden;
        border-radius: 25px;
        padding-bottom: 127%;

        img{
            transition: all 0.3s ease 0s;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }
    &__image::before{
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    }
}
.item-category:hover .item-category__image img{
	transform: scale(1.1);
}
