@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);

@font-face {
	font-family: CalSans;
	font-display: swap;
	src: url("../fonts/CalSans-SemiBold.woff2") format("woff2"), url("../fonts/CalSans-SemiBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

$primary-color: #FF6428;
$primary-color-hover: #ba4619;
$title-color: #121212;
$text-color: #666;
$background-icon: #262626;
$footer-background-color: #EEEEEE;
$font-stack: Poppins, sans-serif;

*, *::before, *::after{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    min-width: 320px;
}

body{
    line-height: 1;
    font-family: $font-stack;
    font-size: 16px;
    color: $text-color;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
/* ---------------------------------------- */
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
/* ------------------------------------------- */

.title{
	font-family: CalSans;
	color: $title-color;
	text-align: center;
	font-size: 44px;
	line-height: 1.2;

    @media (max-width: 767.98px){
		font-size: 38px;
    }

    span{
        color: $primary-color;
    }
}

/* ---------------------------------------- */

[class*="__container"] {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0px 15px;
}

/* ---------------------------------------- */
@import './header.scss';
/* ---------------------------------------- */
@import './page-main.scss';
/* --------------------------------------- */
@import './footer.scss';

